.banner {
  width: 100%;
  height: 400px; /* Ajusta la altura según lo que desees */
  overflow: hidden;
  position: relative;
}

.banner-images {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 60s infinite linear; /* Animación de desplazamiento continuo */
}

.banner-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0; /* Evita que las imágenes se reduzcan */
}

/* Animación para el desplazamiento de las imágenes */
@keyframes slide {
  0% {
    transform: translateX(0); /* Imagen 1 visible */
  }
  33% {
    transform: translateX(-100%); /* Imagen 2 visible */
  }
  33% {
    transform: translateX(-200%); /* Imagen 3 visible */
  }
}

.banner p {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
