/* Estilos generales */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image-container {
  position: relative;
  margin-bottom: 20px;
  margin-left: 50px;
}

.main-image {
  width: 500px;
  height: 200px;
  transition: transform 0.2s;
}

.desman-image {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-left: 25px;
}

.desmantelamiento {
  width: 100%;
  max-width: 500px;
  height: auto;
  transition: transform 0.2s;
}

.desmantelamiento-container {
  width: 100%;
  max-width: 584px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.download {
  max-width: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

.download:hover {
  transform: scale(1.1);
}

.download:active {
  transform: scale(0.9);
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow-x: auto;
}

.thumbnail {
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.thumbnail:hover {
  border-color: gold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded-image {
  width: 90%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: gold;
  cursor: pointer;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .main-image-container {
    margin-left: 0;
    text-align: center;
  }

  .main-image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .desman-image {
    max-width: 100%;
    height: auto;
    margin-left: 0;
  }

  .desmantelamiento-container {
    flex-direction: column;
    align-items: center;
  }

  .desmantelamiento {
    max-width: 100%;
    height: auto;
  }

  .thumbnail {
    width: 80px;
    height: 40px;
  }

  .expanded-image {
    width: 95%;
    max-width: 600px;
  }
}
