.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: black;
  padding: 10px;
}

.navbar-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  flex: 1 1 auto; /* Hace que los botones sean flexibles y se ajusten al tamaño disponible */
  margin: 5px; /* Añade un margen entre los botones */
}

.navbar-button:hover {
  background-color: #e4b129;
}

.navbar-button.active {
  background-color: #e4b129;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
    align-items: center; /* Centra los botones verticalmente */
  }

  .navbar-button {
    width: 80%; /* Ajusta el ancho de los botones en pantallas pequeñas */
    font-size: 14px; /* Reduce el tamaño de la fuente para dispositivos móviles */
  }
}
